from pytz import timezone

TIME_ZONE = timezone('America/Chicago')
DEFAULT_USER = {
    'name': 'eric',
    'email': 'eric@eric.com',
    'password': 'really-secret',
}

DB_USER = ''
DB_PW = ''
DB_HOST = ''
DB_PORT = ''
DB_NAME = ''

DB_CONN='postgresql+psycopg2://{0}:{1}@{2}:{3}/{4}'\
        .format(DB_USER, DB_PW, DB_HOST, DB_PORT, DB_NAME)

SECRET_KEY = 'super secret key'
