{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class='col-md-3'>
  <div class='well'>
    <h3>About</h3>
    <ol>
      <li><a href='#what-is-this'>What is this?</a></li>
      <li><a href='#code'>We're open source!</a></li>
      <li><a href='#team-and-credits'>Team and credits</a></li>
      <li><a href='#contact-us'>Contact us</a></li>
    </ol>
  </div>
</div>
<div class="col-md-9">
  <h3 id='what-is-this'>What is this?</h3>

  <h3 id='code'>We're open source!</h3>

  <h3 id='team-and-credits'>Team and credits</h3>

  <h3 id='contact-us'>Contact us</h3>

  <p>
    Notice a bug or want to contribute to this project? <a href='https://github.com/datamade/election-transcriber'>Get involved on GitHub</a>.
  </p>
</div>

{% endblock %}
